* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "noto";
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}
header > div {
    width: 1140px;
    height: 100%;
    display: flex;
    align-items: center;
}
header > div > nav {
    margin-left: 200px;
}
header > div > nav > a {
    text-decoration: none;
    color: #444;
    padding: 0px 22px;
    font-size: 16px;
    font-weight: 400;
}
#visual {
    background-image: url("../img/vis.webp");
    height: 600px;
    background-size: cover;
    position: relative;
}
#visual > p {
    position: absolute;
    width: auto;
    top: 20%;
    left: 50%;
    font-size: 50px;
    font-weight: 500;
    color: #fff;
    transform: translateX(-50%);
}

#content {
    height: 280px;  
    text-align: center;
}

#content > h2 {
    padding-top: 90px;
    font-size: 30px;
    font-weight: 500;
}
#content > p {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
}

#intro {
    width: 100%;
    background-color: #f6f3f2;
    padding-bottom: 50px;
}
#intro > h2 {
    text-align: center;
    font-size: 30px;
    font-weight:500;
    padding-top: 70px;
}

#intro .card {
    width: 1120px;
    height: 420px;
    display: flex;
    margin: 50px auto;
    background-color: #fff;
}
#intro .img {
    width: 560px;
    height: 420px;
    position: relative;
    overflow: hidden;
}
#intro input {
    display: none;
}
#intro .img img {
    opacity: 0;
    position: absolute;
}
#intro .img > div {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

#intro label {
    color: #fff;
    font-size: 13px;
    padding-bottom: 10px;
    padding: 10px 10px;
    margin: 0 10px;
}
#intro .card .text {
    padding: 50px;
}

#intro .card .text h2{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 500;
}
#intro .card .text> h4{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
}
#intro .card .text > p {
    padding: 10px 0px;
    font-size: 14px;
    font-weight: 200;
}
#intro .text ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
    height:  75px;
}
#intro .text ul li {
    width: 115px;
    height: 100%;
    border-left: 1px solid #e5e5e5;
    padding: 10px 10px;
}
#intro .text ul li:nth-child(1) {
    border-left: none;
}
#intro .text ul p {
    font-size: 11px;
    font-weight: 200;
}
#intro .text ul h4 {
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
}
#intro .text .abox {
    margin-top: 30px;
    width: 100%;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
}
#intro .text .abox a {
    display: block;
    width: 140px;
    color: #fff;
    font-weight: 200;
    text-decoration: none;
    text-align: center;
    padding: 8px 0px;
    background-color: #002c5e;

}

#intro .card input#car1:checked ~ div > .car  {
    border-bottom: 3px solid #fff;
}
#intro .card input#int1:checked ~ div> .int {
    border-bottom: 3px solid #fff;
}
#intro .card input#car1:checked ~ img:nth-child(3)  {
    opacity: 1;
}
#intro .card input#int1:checked ~ img:nth-child(4)  {
    opacity: 1;
}

#intro .card input#car2:checked ~ div > .car  {
    border-bottom: 3px solid #fff;
}
#intro .card input#int2:checked ~ div> .int {
    border-bottom: 3px solid #fff;
}
#intro .card input#car2:checked ~ img:nth-child(3)  {
    opacity: 1;
}
#intro .card input#int2:checked ~ img:nth-child(4)  {
    opacity: 1;
}

#intro .card input#car3:checked ~ div > .car  {
    border-bottom: 3px solid #fff;
}
#intro .card input#int3:checked ~ div> .int {
    border-bottom: 3px solid #fff;
}
#intro .card input#car3:checked ~ img:nth-child(3)  {
    opacity: 1;
}
#intro .card input#int3:checked ~ img:nth-child(4)  {
    opacity: 1;
}

#intro .card input#car4:checked ~ div > .car  {
    border-bottom: 3px solid #fff;
}
#intro .card input#int4:checked ~ div> .int {
    border-bottom: 3px solid #fff;
}
#intro .card input#car4:checked ~ img:nth-child(3)  {
    opacity: 1;
}
#intro .card input#int4:checked ~ img:nth-child(4)  {
    opacity: 1;
}

#intro .card input#car5:checked ~ div > .car  {
    border-bottom: 3px solid #fff;
}
#intro .card input#int5:checked ~ div> .int {
    border-bottom: 3px solid #fff;
}
#intro .card input#car5:checked ~ img:nth-child(3)  {
    opacity: 1;
}
#intro .card input#int5:checked ~ img:nth-child(4)  {
    opacity: 1;
}

#intro .card input#car6:checked ~ div > .car  {
    border-bottom: 3px solid #fff;
}
#intro .card input#int6:checked ~ div> .int {
    border-bottom: 3px solid #fff;
}
#intro .card input#car6:checked ~ img:nth-child(3)  {
    opacity: 1;
}
#intro .card input#int6:checked ~ img:nth-child(4)  {
    opacity: 1;
}

#intro .card input#car7:checked ~ div > .car  {
    border-bottom: 3px solid #fff;
}
#intro .card input#int7:checked ~ div> .int {
    border-bottom: 3px solid #fff;
}
#intro .card input#car7:checked ~ img:nth-child(3)  {
    opacity: 1;
}
#intro .card input#int7:checked ~ img:nth-child(4)  {
    opacity: 1;
}
#intro .card input#car8:checked ~ div > .car  {
    border-bottom: 3px solid #fff;
}
#intro .card input#int8:checked ~ div> .int {
    border-bottom: 3px solid #fff;
}
#intro .card input#car8:checked ~ img:nth-child(3)  {
    opacity: 1;
}
#intro .card input#int8:checked ~ img:nth-child(4)  {
    opacity: 1;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #000;
    color: #aaa;
    display: flex;
    padding-left: 400px;
    padding-top: 50px;
    font-weight: 200;
    font-size: 14px;
}
footer img {
    float: left;
}
footer ul {
    display: flex;
    list-style: none;
    align-items: center;
}
footer ul li {
    padding: 0px 10px;
    margin: 10px 0;
}

footer p {
    padding-left: 10px;
}